<style>
  .message-content {}
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Seu empréstimo foi reprovado!</p>

  <br />

  <p>
    Obrigado! <br />
    <strong>Equipe Pontte</strong>
  </p>
</div>
